*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   width: 100%;
   height: 100vh;
   background: url(img/intro.png);
}

.container .section h1 a {
    position: absolute;
    top: 15%;
    left: 45%;
    stroke: black;
    font-size: 60px;
    display: flex;
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-family: 'Jua', sans-serif;
    animation: imgshow 1s;
}

.container .intro h3 a {
    position: absolute;
    top: 55%;
    left: 20%;
    text-decoration: none;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    animation: imgshow 1s;
}

.container .intro h3 a:hover{
    color: chartreuse;
    transition: all 1s;
}

.container .intro img {
    animation: circle 1s;
    position: absolute;
    top: 40%;
    left: 20%;
    animation: imgshow 1s;
} 

.container .rank h3 a {
    position: absolute;
    top: 55%;
    left: 50%;
    text-decoration: none;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    animation: imgshow 2s;
}

.container .rank img {
    position: absolute;
    top: 40%;
    left: 50%;
    animation: imgshow 2s;
}

.container .hero h3 a {
    position: absolute;
    top: 55%;
    left: 80%;
    text-decoration: none;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    animation: imgshow 3s;
}

.container .hero img {
    position: absolute;
    top: 40%;
    left: 80%;
    animation: imgshow 3s;
}

@keyframes imgshow {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}